{% extends "base.html" %}
{% block title %}<title>contact</title>{% endblock %}
    

{% block header %}
    
    {% endblock %}

    {% block content %}
    <div class="container">
    <hr>
    <h4>SEND A MESSAGE</h4>
    <p>Your email address will not be published.</p>
        <br>
        <form action='/contact' method='POST'>
            <div class="mb-3">
                <input type='text' class="form-control" name='name' id='name' placeholder="Name" required>
            </div>
            <br>
            <div class="mb-3">
                <input type='email' class="form-control" name='email' id='email' placeholder="Email" required>
            <br>
            <div class="mb-3">
                <input type='text' class="form-control" name='subject' id='subject' placeholder="Subject" required>
            </div>
            <br>
            </div>
            <div class="mb-3">
                <!-- ckeditor installation and configuration -->
                {{ ckeditor.load()}}
                {{ckeditor.create()}}
            </div>
            <br>
            <div>
                <button type="submit" class="btn btn-success">Send</button>
        </div>
        </form>
        <hr>
    </div>
    
    {% endblock %}

    {% block footer %}
    
    {% endblock %}