{% extends "base.html" %}
{% block title %}<title>edit</title>{% endblock %}
    

{% block header %}
   
    {% endblock %}

    {% block content %}
    <!-- this code calls the ckedior for this template -->
    {{ ckeditor.load() }}
    <div class="container">
    <hr>
    <h4>Edit Post:</h4>
        <br>
        <form  method='POST'>
            <div class="mb-3">
                <input type='text' class="form-control" name='title' id='title' placeholder="Title" value="{{ post.title }}">
            </div>
            <br>
            <div class="mb-3">
                <input type='text' class="form-control" name='author' id='author' placeholder="Author Name" value="{{ post.author }}" >
            <br>
            </div>
            <div class="mb-3">
                <!-- this code create the ckdeditor and the value assign fix parameter  -->
                {{ ckeditor.create(value=post.content)}} 
                <!-- {{ ckeditor.config( value ="{{ post.content}}" ) }} -->
                <!-- <textarea name="content" id="content" cols="50" rows="10">{{ post.content }}</textarea> -->
            </div>
            <br>
            <div>
                <button type="submit" class="btn btn-success">Update</button>
        </div>
        </form>
        <hr>
    </div>
    {% endblock %}

    {% block some %}
    
    {% endblock %}