
{% extends "base.html" %}
{% block title %}<title>home</title>{% endblock %}
    

{% block header %}
   
    {% endblock %}

    {% block content %}
    <div class="container">
    <hr>
    <br>
    <!-- for every new article, this code displays it on the home page -->
    {% for article in articles %}
        <h1>{{ article.title }}</h1>
        <small>By: {{ article.author }}</small>
        <small>{{ article.date }}</small>
        <p style="white-space:pre-wrap">{{ article.content|safe}}</p>
        {% endfor %}
        <hr>
    </div>
    {% endblock %}

    {% block footer %}
   
{% endblock %}