{% extends "base.html" %}
{% block title %}<title>login</title>{% endblock %}
    

{% block header %}
   
    {% endblock %}

    {% block content %}

    <div class="container">
        <hr>
        <h3>Login with to write</h3>
     
        <form action="/login" method="POST">
            <br>
            <div class="mb-3">
              <input type="email" class="form-control" name="email" id="email" placeholder="Email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" name="password" id="password" placeholder="PSassword">
            </div>
            <div class="mb-3 form-check">
              <label class="form-check-label" for="exampleCheck1">Not yet a member? <a href="/sign-up">Create Account</a></label>
            </div>
            <button class="btn btn-success d-grid gap-2 col-6 mx-auto" type="submit">Login</button>
            <br>
          </form>

        <hr>
    </div>
    
    {% endblock %}

    {% block footer %}
  
    {% endblock %}