{% extends "base.html" %}
{% block title %}<title>login</title>{% endblock %}
    

{% block header %}
   
    {% endblock %}

    {% block content %}

    <div class="container">
        <hr>
        <h3>Login with to write:</h3>
        <br>
        <form action="/login" method="POST">
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="email or username" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="password">
            </div>
            <div class="mb-3 form-check">
              <label class="form-check-label" for="exampleCheck1">Not yet a member? <a href="/sign-up">Create Account</a></label>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>

        <hr>
    </div>
    
    {% endblock %}

    {% block footer %}
  
    {% endblock %}