
{% extends "base.html" %}
{% block title %}<title>write</title>{% endblock %}
    

{% block header %}
    
    {% endblock %}

    {% block content %}
    
    <div class="container">

    <hr>
    <h4>Create New Blog Post:</h4>
        <br>
        <form action='/write' method='POST'>
            <div class="mb-3">
                <input type='text' class="form-control" name='title' id='title' placeholder="Title">
            </div>
            <br>
            <div class="mb-3">
                <input type='text' class="form-control" name='author' id='author' placeholder="Author's Name">
            <br>
            </div>
            <div class="mb-3">
                <!-- ckeditor loading and configuration -->
                {{ ckeditor.load() }}
                {{ ckeditor.create() }}
            </div>
            <br>
            <div>
                <button type="submit" class="btn btn-success">Post</button>
        </div>
        </form>
        <br>
        {% for article in articles %}
            <h1>{{ article.title }}</h1>
            <small> <strong>By: </strong>{{ article.author }}</small>
            <p style="white-space:pre-wrap">{{ article.content|safe }}</p>
        <button class="btn btn-danger" > <a href="/write/delete/{{ article.id }}">Delete</a> </button>
        <button class="btncolor btn btn-primary" > <a href="/write/edit/{{ article.id }}">Edit</a> </button>
            {% endfor %}
            <br>
            <hr>
    </div>
    
    {% endblock %}

    {% block footer %}
  
    {% endblock %}